<% include ../partials/header %>
<div class="container">
<header class="jumbotron">
        <h1>Edit comment</h1>
</header>
<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <textarea class="form-control" name="comment[text]" autocomplete="off" placeholder="Add new comment" cols="30" rows="2"><%=comment.text%></textarea>
    <!-- <input type="text" class="form-control" name="comment[text]" autocomplete="off" value="<%=comment.text%>"> -->
    <p></p>
   <button class="btn btn-lg btn-outline-success">update!</button></p>
</form>
<a href="/campgrounds">Go Back</a>
</div>
<% include ../partials/footer %>