<% include .\partials\header.ejs %>
<div class="container">
    <h1>Sign Up!</h1>
    
    <form action="/register" method="post">
        <div class="ui equal width form">
            <div class="fields">
              <div class="field">
                <label>Username</label>
                <input name="username" type="text" placeholder="User Name" required>
              </div>
              <div class="field">
                <label>Password</label>
                <input name="password" type="password" required>
              </div>
            </div>
            <div class="fields">
              <div class="field">
                <label>Email</label>
                <input name="email" type="text" required>
                </div>
                </div>
           
            <div class="fields">
              <div class="field">
                <label>First name</label>
                <input name="fname" type="text" required>
              </div>
              <div class="field">
                <label>Last Name</label>
                <input name="lname" type="text" required>
              </div>
              
            </div>
            <div class="fields">
                <div class="field">
                  <label>Avatar link from Facebook</label>
                  <input name="avatar" type="text">
                </div>
              </div>
              <div class="fields">
                  <div class="field">
                      <label>Admin's Code(not for User)</label>
                      <input name="admincode" type="password">
                    </div>
                </div>
        </div>
        <button class="btn btn-outline-success btn-lg">Sign Up</button>
    </form>
    
</div>
<% include .\partials\footer.ejs %>